<h1>イベント一覧</h1>

  <% @events.each do |event| %>
    <div class="card mb-4">
      <h5 class="card-header"><%= event.name %></h5>
      <div class="card-text">
        <p class="mt-3"><%= l(event.start_at, format: :long) %> ~ <%= l(event.end_at, format: :long) %></p>
      </div>
    </div>
<% end %>

